[submodule "rust-mysql-simple"]
	path = rust-mysql-simple
	url = https://github.com/nneesshh/rust-mysql-simple
[submodule "calamine"]
	path = calamine
	url = https://github.com/nneesshh/calamine
[submodule "log4rs"]
	path = log4rs
	url = https://github.com/nneesshh/log4rs
[submodule "toml"]
	path = toml
	url = https://github.com/nneesshh/toml
[submodule "handlebars-rust"]
	path = handlebars-rust
	url = https://github.com/nneesshh/handlebars-rust